@model List <Almacen.BL.Servicio>
@{
    ViewBag.Title = "Inicio";
}

<section class="story-area left-text center-sm-text">
    <div class="container">
        <div class="heading"><h3>SERVICIOS</h3></div>
        <div class="row">
            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30">
                    <div class="ïmg-200x mlr-auto pos-relative">
                        <h6 class="ribbon-cont color-white"><div class="ribbon primary"></div><b>OFFERTA</b></h6>
                        <img src="~/images/newalmacentrancito.jpg" alt="">
                    </div>
                    <h3 class="mt-20">Almacen en Transito</h3>
                    <h4 class="mt-5 color-black"><b>Se ocupa para mercancías de pocas horas, en donde se requiere optimizar el flujo y la transportación de las mismas.</b></h4>
                </div><!--text-center-->
            </div><!-- col-md-3 -->
            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30">
                    <div class="ïmg-200x mlr-auto pos-relative"><img src="~/images/newalmacentemporal.jpg" alt=""></div>
                    <h3 class="mt-20">Almacén Temporal</h3>
                    <h4 class="mt-5 color-black"><b>En este tipo de opciones, los productos solo pueden mantenerse almacenados en un plazo no mayor a 45 días, para la transportación vía marítima y 20 días para el resto de los transportes</b></h4>
                </div><!--text-center-->
            </div><!-- col-md-3 -->
            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30">
                    <div class="ïmg-200x mlr-auto pos-relative"><img src="~/images/newalmacengeneral.jpg" alt=""></div>
                    <h3 class="mt-20">Almacén General</h3>
                    <h4 class="mt-5 color-black"><b>Este tipo de servicio es para empresas que buscan tener sus productos almacenados hasta agotar existencias; como mínimo almacenan 60 días o mas a una tarifa especial hasta que el cliente lo estime conveniente. Recomendado solo para distribuidores.</b></h4>
                </div><!--text-center-->
            </div><!-- col-md-3 -->

            <div class="col-lg-3 col-md-4  col-sm-6 ">
                <div class="center-text mb-30">
                    <div class="ïmg-200x mlr-auto pos-relative"><img src="~/images/sujerencias.jpg" alt=""></div>
                    <h3 class="mt-20">Otras Opciones</h3>
                    <h4 class="mt-5 color-black"><b>Siempre estamos abiertos a escuchar las ideas y necesidades de nuestros clientes, si desea un trato que no se adecua a los predeterminados puede consultarnos con gusto le atenderemos.</b></h4>
                </div><!--text-center-->
            </div><!-- col-md-3 -->


        </div><!-- row-->
    </div><!-- container -->
</section>




<section>
    <div class="container">
        <div class="heading mb-sm-10"><h3>NOSOTROS</h3></div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="sided-220x responsive mb-30 left-text center-sm-text">
                    <div class="s-left mlr-sm-auto"><img src="~/images/newlogob.jpeg" alt="Menu Image"></div>
                    <div class="s-right">
                        <h5>Misión</h5>
                        <h4 class="mtb-10"><b class="color-primary">--------</b></h4>
                        <p>Ofrecer un servicio profesional de almacenamiento y conservación de todo tipo de mercaderías buscando satisfacer las necesidades de nuestros clientes; generando a la vez bienestar y seguridad a nuestros clientes y empleados. </p>
                    </div><!--s-right-->
                </div><!-- sided-90x -->
            </div><!-- col-md-6 -->
            <div class="col-md-12 col-lg-6">
                <div class="sided-220x responsive mb-30 left-text center-sm-text">
                    <div class="s-left mlr-sm-auto"><img src="~/images/newmision.png" alt="Menu Image"></div>
                    <div class="s-right">
                        <h5>Visión</h5>
                        <h4 class="mtb-10"><b class="color-primary">--------</b></h4>
                        <p>Como líderes en servicios aduaneros; buscamos establecer las condiciones necesarias para participar y contribuir al desarrollo de las actividades comerciales, industriales y agrícolas de nuestro país, adaptándonos a los cambios y exigencias para poder satisfacer a nuestros clientes. </p>
                    </div><!--s-right-->
                </div><!-- sided-90x -->
            </div><!--col-md-6 -->
        </div><!-- row-->
        <div class="brder-t-light mt-sm-10 mb-60 mb-sm-40"></div>
 
    </div><!-- container -->
</section>

